<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Driver para realizar la conexión -->
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<!-- Parametos de conexion, ip:puerto,sid -->
		<property name="connection.url">jdbc:oracle:thin:@localhost:49161:XE</property>
		<!-- Usuario de base de datos -->
		<property name="connection.username">system</property>
		<!-- Contraseña de base de datos -->
		<property name="connection.password">oracle</property>
		<!-- Maximo numero de conexiones al tiempo -->
		<property name="connection.pool_size">5</property>
		<!-- Dialecto usado para las sentencias sql -->
		<property name="dialect">org.hibernate.dialect.OracleDialect</property>
		<property name="show_sql">false</property>
		
		<!-- Mapeo de los modelos de base de datos -->
		<mapping class="com.lucasian.model.Administrador" />
	</session-factory>
</hibernate-configuration>